:root{
  --fonte: white;
  --linear1: blue;
  --linear2: #292929;
  --linear3: rgb(22, 21, 80);

}

*{
  
 text-align: center;
  grid: 100%;
  max-width: 50em;
}
body{
  height: 100vh;
  background: linear-gradient(
  var(--linear2),
  var(--linear3));
  color: var(--fonte);
  font-family: Verdana, Arial;
  font-size: 16px;
  top: 20%;
  
  
}

h1,p{
  font-size: 20px;
  margin: 1em auto;
 

}
p{
    font-size: 16px;
}
#number
#personal{
    display: flex;
    justify-content: flex-start;
}

label{
  display: block;
  margin: 0.5em 1;
  
}


fieldset{
  margin: 0;
  border: 0;
  border-bottom: 3px solid white;
border-radius: 15px;
 

}

fieldset:last-of-type{
  border: none;
}

input[type="submit"] {
  
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  min-width: 300px;
border-radius: 15px;
    
 

}

textarea{
  width: 100%;
  min-height: 2em;
  border-radius: 15px;
 
}

input[type="checkbox"]{
  width: 5%;
}
